*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header{
   background-color: #4EA0FF;
   background-image: url(../../assets/img/pattern.png);    
   margin-bottom: 2%;
}

main{
   margin-left: 10px;
}

#logo{
   width: 18%;
   margin-top: 4%;
}

.title{
   font-size: 70px;
}

.author{
   font-size: 30px;
   color: gray;
}

#booleaner{
   color: rgb(0, 153, 241);
}

.date{
   color: gray;
   font-size: 20px;
   margin-bottom: 1%;
}

.images{
  width: 49%;
  height: 699px;
  object-fit: cover;
}

.container{
   font-size: 25px;
   
}

#caption1{
   font-size: 20px;
}

#caption2{
   margin-bottom: 30px;
   font-size: 20px;
}

#list{
   margin-top: 30px;
   margin-left: 1rem; /*1rem per mostrare i pallini*/
}

table{
   margin: 30px 0;
   border-spacing: 0;
}

td{
  padding: 10px 0;
}

th{
   padding-right: 90px;
}

#th-speciale{
   padding-right: 1080px;
}

.first-color{
   background-color: dodgerblue;
   color: white;
}

.color1{
   background-color: rgb(151, 235, 235);
}

.consigli{
   margin-top: 30px;
   margin-left: 5px;
   color: gray;
}

.img1{
   height: 200px;
   width: 300px;
   background-image: url(../../assets/img/monitor.jpg);
   background-repeat: no-repeat;
   margin-left: 5px;
   margin: 10px;
   color: white;
   font-size: 20px;
   padding: 10px 10px;
}

.img2{
   height: 200px;
   width: 300px;
   background-image: url(../../assets/img/graph.jpg);
   background-repeat: no-repeat;
   margin-left: 5px;
   margin: 10px;
   color: white;
   font-size: 20px;
   padding: 10px 10px;
}